html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

#main-doc {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#navbar {
  display: flex;
  flex-direction: column;
}
.nav-link {
  margin: 5px 0px 0px 0px;
  padding-top: 5px;
  padding-left: 10px;
  text-decoration: none;
  color: grey;
  border-top: 1px solid grey;
}

@media (min-width: 769px) {
  #navbar {
    width: 30%;
  }
}
